body {
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    box-sizing: content-box;
    margin: 0px;
    max-width: 1280px;
}
.header{
    display: flex;
    align-items: center;
    background: inherit;
    box-sizing: border-box;
    height: 55px;
    padding: 20px;
    font-size: 13px;
}
.outer{
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    display: flex;
}
.logo{
    margin: 0 16px 0 0;
    margin-top: -10px;
}
.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.btnback{
    background: transparent;
    border:none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.leftheader{
    padding:30px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.search1{
     display: inline-flex;
     flex-direction:row;
     background:#f1f1f0;
}
.search1 button{
    background: none;
    border: none;
   
}
.search{
  
    border-color: transparent;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 425px;

}

.btnback:hover{
    background:#f1f1f0;
    border-color: transparent;
}
.rightheader{
    display: flex;
    align-items: center;
    margin-left:45px;
}
.btn{

padding:13px 13px 13px 13px;
margin: 3px; 
border-radius: 2px;
}
.maincontent{
    background-image: url(https://i.udemycdn.com/notices/home_banner/image/048e0cdc-3e71-47dc-ae30-e9ac7a3504b5.jpg);
    height: 512px;
    width:auto;
    display: flex;
    align-items: flex-end;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 24px;
    font-family:Helvetica,Arial,sans-serif;
}

.best{
    width:700px;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(41,48,59,.55);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.33;
}
.imgcnt{
    box-sizing: content-box;
    max-width: 350px;
    margin-bottom: 150px;
    margin-left: 100px;
    width: 700px;
}
.imgtext{
    color: #fff;
    font-size: 18px;
    line-height: 1.61;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(41,48,59,.55);
    width: 450px;
}
.inputsearch{
    display: flex;
    height: 50px;
    width: 450px;
   
}
.inputsearch button{
    height: 50px;
    border: none;
    width: 50px;
    background-color: #fff;
}
.inputsearch input{
    background-color: #fff;
    border: none;
    font-size: 20px; 
    padding: 11px 17px;
    font-weight: 100;
}
.sub1{
    box-sizing: border-box;
  
    margin-top: -30px;
}
.contain{
    display: block;
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    padding-left: 15px;
    height: 80px;
   
    padding-right: 15px;
}
.sidebar{
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 15px;
    justify-content: space-evenly;
}
.sidetext{
    color: #fff;
    display: inline-flex;
}
.gridcontainer{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 470px;

}
.boldtext{
    font-size: 19px;
    font-weight: 600;
    line-height: 1.47em;
}
.left{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 100px;
}
.subtext{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
}
.right{
    display: flex;
    flex-direction: column;
}
.typelist{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.typelist button{
    background: none;
    border: none;
    padding: 15px;
    color: #14171c;
    text-align: left;
    font-size: 15px;
    line-height: 1.35;
}
.typelist button:hover{
    cursor: pointer;
}
.rightgrid{
    display: flex;
    flex-direction: row;
}
.imgflex{
    margin:10px;
    border: 2px solid  rgba(163, 170, 184, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:220px;    
}
.imgtxt{
    font-weight: 600;
    height: 53px;
    font-size: 15px;
    color: #29303b;
    margin-bottom: 10px;
    width: 240px;
    padding:10px;
    box-sizing: border-box;
    overflow: hidden;
}
.career{
    font-size: 12px;
    padding:10px;
    color: #686f7a;
}
.checked{
    color: orange;
}
.stars
{
    padding:10px
}
#star{
    font-weight: 600;
    color: #505763;
    font-size:small;
}
#count{
    font-size: 12px;
    font-weight: 400;
    color: #686f7a;
    margin-left: 5px;
}
.price{
    font-weight: 600;
    font-size:18px;
    text-align: right;
    padding-right: 10px ;
    padding-bottom: 20px;
}