body {
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    box-sizing: content-box;
}
.header{
    display: flex;
  
    align-items: center;
    background: inherit;
    box-sizing: border-box;
    height: 55px;
    padding: 20px;
    font-size: 13px;
}
.outer{
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    display: block;
}
.logo{
    margin: 0 16px 0 0;
    margin-top: -10px;
}
.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.btnback{
    background: transparent;
    border:none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.leftheader{
    padding:30px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.search{
     
    background:#f1f1f0;
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 425px;
}

.btnback:hover{
    background:#f1f1f0;
    border-color: transparent;
}
.rightheader{
    display: flex;
    align-items: center;
    margin-left:45px;
}
.btn{
widows: 90px; 
padding:13px 13px 13px 13px;
margin: 3px; 
border-radius: 2px;
}
.maincontent{
    background-image: url("https://i.udemycdn.com/notices/home_banner/image/9c617d0a-1a3a-43eb-8b1b-c87e24e072b2.jpg");
    height: 512px;
    width:auto;
}
.best{
    align-items: center;
}